.profile-container {
  box-sizing: border-box;
}

.card11 {
  height: 500px;
}

.card22 {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  justify-content: center;
}

#pic1 {
  width: 800px;
  height: 200px;
  background-repeat: no-repeat;
}

#pic2 {
  width: 100px;
  height: 100px;
}

.cover-pic {
  position: relative;
}

.profile-pic {
  position: absolute;
  left: 20px;
  top: 150px;
}

#profile-name {
  font-size: 30px;
  font-weight: bold;
}

.add-friend-btn {
  background-color: #2b7fd3;
  color: #fff;
}

.website-btn {
  background-color: #2b7fd3;
  color: #fff;
  margin-left: 50px;
}

.add-friend-btn:link {
  background-color: #92afe0;
  color: #fff;
}

.add-friend-btn:visited {
  background-color: #92afe0;
  color: #fff;
}

.add-friend-btn:hover {
  background-color: #92afe0;
  color: #fff;
}

.icon {
  color: #fff;
}

.add-friend-btn:active {
  background-color: #92afe0;
  color: #fff;
}

.website-btn:link {
  background-color: #92afe0;
  color: #fff;
}

.website-btn:visited {
  background-color: #92afe0;
  color: #fff;
}

.website-btn:hover {
  background-color: #92afe0;
  color: #fff;
}

.website-btn:active {
  background-color: #92afe0;
  color: #fff;
}

.display-profile {
  position: absolute;
  top: 300px;
  left: 70px;
}

.userprofile {
  width: 40px;
  height: 40px;
}

.suggestion-userprofile {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.profile-heading {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

.profile-suggestion-heading {
  flex-grow: 2;
}

.suggestion-img {
  flex-grow: 0.2;
}

.suggestion-name {
  flex-grow: 1;
  padding-top: 5px;
}

.s-add {
  padding-top: 5px;
}

.add-friend:link {
  color: #60acd1;
}

.add-userfriend:visited {
  color: #60acd1;
}

.add-userfriend:hover {
  color: #0072d0;
}

.add-userfriend:active {
  color: #60acd1;
}

.material-icons {
  cursor: pointer;
}

.description {
  word-spacing: 8px;
}