.createpost-container {
    box-sizing: border-box;
}

.createpost-card {
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    text-align: center;
}


.createpost-heading {
    font-size: 20px;
    text-align: center;
}

.createpost-photo-div {
    border: grey solid 1px;
    background-color: #eee;
    width: 400px;
    padding: 10px 0 10px 8px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.createpost-btn {
    border: #92afe0 solid 1px;
    background-color: #92afe0;
    width: 400px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 0 10px 8px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}

.createpost-textfield {
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}