.post-container {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.card-div {
    width: 600px !important;
    height: 700px !important;
    margin: 12px;
}

.post-detail {
    height: 50px;
    display: flex !important;
    flex-direction: row !important;
    padding-top: 10px !important;
    border-bottom: #000 solid 1px !important;
    padding-bottom: 50px;
}

.post-user {
    margin-left: 50px;
    flex-grow: 0.1;
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
}

.post-caption {
    width: 500px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.post-image {
    width: 500px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

.post-img {
    width: 500px;
    height: 300px;
}

.reactions-count {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}

.likes {
    color: #1070dd;
}

.dislikes {
    color: #e5234d;
}

.like-count {
    flex-grow: 0.1;
}

.dislike-count {
    flex-grow: 1;
}

.post-reactions {
    width: 500px;
    height: 50px;
    height: 50px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.like , .dislike , .comment {
    cursor: pointer;
}

.post-comment {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.picture {
    height: 45px;
    width: 45px;
}

.profile-img {
    padding: 10px 10px 10px 30px;
    width: 80px;
}

.comment-area {
    cursor: pointer;
    height: 50px;
    width: 400px;
    background-color: #f0f2f5;
    border: #f0f2f5 solid 1px;
    border-radius: 25px;
    margin-top: 10px;
  }

 .options {
    position: relative;
    cursor: pointer;
  }
  
  .options .report-post {
    visibility: hidden;
    position: absolute;
    top: 2px;
  }
  
  .options:hover .report-post {
    visibility: visible;
  }