.createpost-container {
    box-sizing: border-box;
}

.createpost-card {
    width: 500px;
}

.createpost-heading {
    font-size: 20px;
    text-align: center;
}

.createpost-photo-div {
    border: grey solid 1px;
    background-color: #eee;
    width: 400px;
    padding: 10px 0 10px 8px;
    border-radius: 10px;
}

.createpost-btn {
    border: #92afe0 solid 1px;
    background-color: #92afe0;
    width: 400px;
    padding: 10px 0 10px 8px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
}

.createpost-textfield {
    padding-top: 10px;
}